*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: aliceblue;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #090909;
}
#nav{
    height: 130px;
    width: 100%;
    padding: 0 40px;
    /* background-color: rgb(177, 56, 56); */
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
#nav-prt2{
    display: flex;
    /* background-color: rgb(92, 92, 208); */
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
nav i{
    font-size: 20px;
    margin-right: 5px;
}
nav>h5{
    font: size 14px;
    text-transform: capitalize;
    font-weight: 600;
}
#nav img{
    height: 70px;
}
#line{
    height: 2px;
    width: 70px;
    background-color: rgb(177, 56, 56);
}
#content{
    height: calc(100% - 130px);
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    position: relative;
    justify-content: space-between;
    /* background-image: url(""); */
}
.left{
    height: 100%;
    width: 36%;
    /* background-color: rgb(180, 98, 98); */
    padding: 130px 100px;
    display: block;
}
.centre{
    height: 100%;
    width: 26%;
    /* background-color: rgb(231, 58, 73); */
    padding-top: 60px;
}
.right{
    height: 100%;
    width: 36%;
    /* background-color: rgb(169, 106, 106); */
    padding: 280px 130px;
    /* overflow: wrap; */
}
.left h1{
    font-size: 55px;
    line-height: 60px;
    font-weight: 900;
    margin-bottom: 40px;
    overflow: wrap;
}
.left h1 span{
    color: red;
    font-weight: 400;
}
.left p{
    font-size: 18px;
    width: 70%;
    margin-bottom: 30px;
    line-height: 24px;
    overflow: wrap;
}
.left button{
    background-color: red;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-weight: 700;
    margin-left: 30px;
}
.left button i{
    margin-right: 10px;
}
#centre-bg{
    /* background-color: blue; */
    height: 88%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url("https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage-thumbnail.jpg");
    background-size: 450%;
    background-position: 30% 40%;
    filter: blur(3px);
}
#content>img{
    height: 100%;
    position: absolute;
    left: 49%;
    transform: translate(-50%,0);
    z-index: 99;
}
#right-elems{
    /* background-color: red; */
    width: 300px;
}
#elem1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* background-color: blue; */
    border-bottom: 1px solid #fff;
    opacity: 0.6;
}
#elem h1{
    font-size: 24px;
    font-weight: 600;
}
#elem i{
    font-size: 24px;
}
#elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
}
#elem2 p{
    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}